* {
    font-size: 10px;
}
.img{
    background-image: url('/img/bg1.png');
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 100vh;
}
li {
    list-style: none;
}

.row header {
    background-color: coral;
    width: 100%;
    display: inline-flex;
}
.row header div {
    width: 40%;
}

.row header ul {
    width: 60%;
    display: flex;
    justify-content:space-evenly;
    padding: 0;
}
.row .text {
    width: 50%;
    height: 70rem;
    padding-top: 10%;
    background-color: aliceblue;
}
@media (max-width:1200px)  {
    .row .text {
        height: 50rem;
        background-color: red;
    }
    .row .text h2 {
        font-size: 2rem !important;
    }
    .row .text h6 {
        font-size: 1rem !important;
    }
}
